/* styles.css */
:root {
    --grid-cols: ;
    --grid-rows: ;
}

#container {
    display: grid; 
    grid-template-columns: repeat(var(--grid-cols),25px); 
    grid-template-rows: repeat(var(--grid-rows), 25px);
}
.grid-item {
    background: white;
    border-color: black;
   border-style: solid;
        
}

.cell {
    background: white;
    border-color: black;
    border-style: solid;
}