/* styles.css */
:root {
    --grid-cols: ;
    --grid-rows: ;
}

#container {
    display: grid; 
    width: 960px;
    height: 960px;
    grid-template-columns: repeat(var(--grid-cols), 1fr); 
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}
.grid-item {
    background: white;
    border-color: lightgray;
    border-width: 1px;
   border-style: solid;
        
}

